<section class="main-header">
  <h1>What is PakuriInstagram?</h1>
  <p>
     こちらのInstagram系インスパイアサイトです。<br>
     本家と似ている箇所が多々ありますが当サイトは"オリジナル"で作成されています。<br>
     盗作で起訴することは法律で禁じられておりますのでご了承ください。
  </p>
</section>
